{% include header.html %}
        
        <div class="header-intro theme-bg-primary text-white py-5">
	        <div class="container">
		        <h2 class="page-heading mb-0">Let's talk!</h2>
		        
	        </div><!--//container-->
        </div><!--//header-intro-->
        
    </header><!--//header-->
        
    <section class="section py-5">
        <div class="container">
            <div class="row">
		        <div class="contact-intro col-lg-8 mx-lg-auto mb-5 text-center">
			        
			        <img class="profile-small d-inline-block mx-auto rounded-circle mb-3" src="assets/images/{{ site.data.personal.image }}" alt="">
			        
			        <div class="speech-bubble bg-white p-4 p-lg-5 shadow-sm">
				        <p class="text-left mb-3">
							I'm currently taking on freelance work starting July 2019. 
							If you are interested in hiring me for your project please
							contact me.
						</p>
				        <h6 class="font-weight-bold text-center mb-3">You can also find me on the following channels</h6>
				        
				        <ul class="social-list-color list-inline mb-0">
				            <li class="list-inline-item mb-3"><a class="twitter" href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
				            
			                <li class="list-inline-item mb-3"><a class="linkedin" href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			                <li class="list-inline-item mb-3"><a class="github" href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
			                <li class="list-inline-item mb-3"><a class="stack-overflow" href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
			                <li class="list-inline-item mb-3"><a class="medium" href="#"><i class="fab fa-medium-m fa-fw"></i></a></li>
			                <li class="list-inline-item mb-3"><a class="codepen" href="#"><i class="fab fa-codepen fa-fw"></i></a></li>
			                
			                
			                <!--<li class="list-inline-item mb-3"><a class="facebook" href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>-->
			                
			                <!--<li class="list-inline-item"><a class="instagram" href="#"><i class="fab fa-instagram fa-fw"></i></a></li>-->
			            </ul><!--//social-list-->
			        </div>
		        
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//section-->
    
{% include footer.html %}