{% include header.html %}
        
        <div class="header-intro theme-bg-primary text-white py-5">
	        <div class="container">
		        <div class="profile-teaser media flex-column flex-md-row">
				    <img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="assets/images/{{ site.data.personal.image }}" alt="">
					<div class="media-body text-center text-md-left">
					<div class="lead">{{ site.data.personal.title }}</div>
					<h2 class="mt-0 display-4 font-weight-bold">{{ site.data.personal.name }}</h2>
					<div class="bio mb-3">
						{{ site.data.personal.intro | markdownify }}
					</div><!--//bio-->
					<a class="theme-btn-on-bg btn font-weight-bold theme-btn-cta" href="contact.html">Let's Talk</a>
					
					</div><!--//media-body-->
				</div><!--//profile-teaser-->
		        
	        </div><!--//container-->
        </div><!--//header-intro-->
        
    </header><!--//header-->
        
    <section class="skills-section section py-5">
        <div class="container">
	        <h3 class="section-title font-weight-bold text-center mb-3">Skills Overview</h3>
	        <div class="section-intro mx-auto text-center mb-5 text-secondary">
				{{ site.data.skills.intro | markdownify }}
			</div>
	        
	        <div class="skills-blocks mx-auto pt-5">
		        <div class="row">

					{% for group in site.data.skills.skills %}
			        <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
				        <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
					        <h4 class="skills-cat text-center mb-3 mt-5">{{ group.name }}</h4>
					        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
								<i class="fas fa-{{ group.icon }} fa-3x"></i>
					        </div>
					        <ul class="skills-list list-unstyled text-secondary">
								{% for skill in group.skills %}
						        <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>{{ skill.name }}</li>
								{% endfor %}
					        </ul>
				        </div><!--//skills-block-inner-->
			        </div><!--//skills-block-->
					{% endfor %}
			        
		        </div><!--//row-->
	        </div>
        </div><!--//container-->
    </section><!--//skills-section-->
    
{% comment %}
    <section class="section-latest-blog py-5 bg-white">
        <div class="container">
	        <h3 class="section-title font-weight-bold text-center mb-5">Latest Blog Posts</h3>
	        
	        <div class="blog-cards row">
		        <div class="col-12 col-lg-6">
			        <div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
					        <img class="card-img-top rounded-0" src="assets/images/blog/blog-post-thumb-1.jpg" alt="">
					        <div class="card-img-overlay overlay-mask overlay-logo text-center p-0">
						        <div class="overlay-mask-content text-center w-100 position-absolute">
								    <a class="btn btn-primary" href="blog-post.html">Read more</a>
						        </div>
						        <a class="overlay-mask-link position-absolute w-100 h-100" href="blog-post.html"></a>
							</div>
						</div>
						<div class="card-body pb-4">
							
							<h4 class="card-title text-truncate mb-2"><a href="blog-post.html">How to Create an Angular Library</a></h4>
							<div class="card-text">
								<ul class="meta list-inline mb-1">
									<li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>June 26, 2018</li>
									<li class="list-inline-item"><i class="fas fa-comment mr-2"></i><a href="#">4 Comments</a></li>
								</ul>
								<div class="excerpt"> Blog post intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod. Vivamus sed mi vitae dui iaculis venenatis...</div>
							</div>
						</div>
				    </div><!--//card-->
		        </div>
		        
		        <div class="col-12 col-lg-6">
			        <div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
					        <img class="card-img-top rounded-0" src="assets/images/blog/blog-post-thumb-2.jpg" alt="">
					        <div class="card-img-overlay overlay-mask overlay-logo text-center p-0">
						        <div class="overlay-mask-content text-center w-100 position-absolute">
								    <a class="btn btn-primary" href="blog-post.html">Read more</a>
						        </div>
						        <a class="overlay-mask-link position-absolute w-100 h-100" href="blog-post.html"></a>
							</div>
						</div>
						<div class="card-body pb-4">
							
							<h4 class="card-title text-truncate mb-2"><a href="blog-post.html">React, Bootstrap, and Angular- The Basics</a></h4>
							<div class="card-text">
								<ul class="meta list-inline mb-1">
									<li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>June 18, 2018</li>
									<li class="list-inline-item"><i class="fas fa-comment mr-2"></i><a href="#">8 Comments</a></li>
								</ul>
								<div class="excerpt"> Blog post intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod. Vivamus sed mi vitae dui iaculis venenatis...</div>
							</div>
						</div>
				    </div><!--//card-->
		        </div>
		        
		        
		        <div class="col-12 col-lg-6">
			        <div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
					        <img class="card-img-top rounded-0" src="assets/images/blog/blog-post-thumb-3.jpg" alt="">
					        <div class="card-img-overlay overlay-mask overlay-logo text-center p-0">
						        <div class="overlay-mask-content text-center w-100 position-absolute">
								    <a class="btn btn-primary" href="blog-post.html">Read more</a>
						        </div>
						        <a class="overlay-mask-link position-absolute w-100 h-100" href="blog-post.html"></a>
							</div>
						</div>
						<div class="card-body pb-4">
							
							<h4 class="card-title text-truncate mb-2"><a href="blog-post.html">Best Practices for Code Review</a></h4>
							<div class="card-text">
								<ul class="meta list-inline mb-1">
									<li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>May 7, 2018</li>
									<li class="list-inline-item"><i class="fas fa-comment mr-2"></i><a href="#">23 Comments</a></li>
								</ul>
								<div class="excerpt"> Blog post intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod. Vivamus sed mi vitae dui iaculis venenatis...</div>
							</div>
						</div>
				    </div><!--//card-->
		        </div>
		        
		        <div class="col-12 col-lg-6">
			        <div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
					        <img class="card-img-top rounded-0" src="assets/images/blog/blog-post-thumb-4.jpg" alt="">
					        <div class="card-img-overlay overlay-mask overlay-logo text-center p-0">
						        <div class="overlay-mask-content text-center w-100 position-absolute">
								    <a class="btn btn-primary" href="blog-post.html">Read more</a>
						        </div>
						        <a class="overlay-mask-link position-absolute w-100 h-100" href="blog-post.html"></a>
							</div>
						</div>
						<div class="card-body pb-4">
							
							<h4 class="card-title text-truncate mb-2"><a href="blog-post.html">Learn React Components</a></h4>
							<div class="card-text">
								<ul class="meta list-inline mb-1">
									<li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>Apr 25, 2018</li>
									<li class="list-inline-item"><i class="fas fa-comment mr-2"></i><a href="#">18 Comments</a></li>
								</ul>
								<div class="excerpt"> Blog post intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod. Vivamus sed mi vitae dui iaculis venenatis...</div>
							</div>
						</div>
				    </div><!--//card-->
		        </div>
		        
		        
	        </div><!--//blog-cards-->

	        
        </div>
        
        <div class="text-center">
            <a class="btn btn-primary" href="blog.html">View all posts</a>
        </div>
        
        
    </section>
{% endcomment %}
    
{% include footer.html %}