{% include header.html %}
		
        <div class="header-intro theme-bg-primary text-white py-5">
	        <div class="container position-relative">
		        <div class="media flex-column flex-md-row">
			        <img class="profile-medium d-inline-block rounded-circle mr-md-4 align-self-center mb-2 mb-lg-0" src="assets/images/{{ site.data.personal.image }}" alt="">
			        <div class="media-body align-self-center">
			            <h2 class="page-heading mb-2">Talks</h2>
			            <div class="page-heading-tagline mb-3">
							{{ site.data.talks.intro | newline_to_br | markdownifiy }}
						</div>
			        </div>
		        </div>
	        </div><!--//container-->
        </div><!--//header-intro-->

    </header><!--//header-->

    <section class="section pt-5">
			<div class="container blog-cards">
				<h3 class="section-title font-weight-bold text-center mb-3">Upcoming Talks</h3>
				
				<div class="row">

					{% for talk in site.data.talks.upcoming %}
					<div class="col-12 col-md-6 col-lg-4 mb-5">
						<div class="card rounded-0 border-0 shadow-sm eq-height">
							<div class="card-body pb-4">
								
								<h4 class="card-title mb-2"><a href="{{ talk.link }}">{{ talk.name }}</a></h4>
								<div class="card-text">
									<div class="excerpt">
										{{ talk.abstract | markdownify }}
									</div>
								</div>
								
							</div>
							<div class="card-footer border-0">
								<ul class="meta list-inline mb-0">
									<li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>{{ talk.date }}</li>
									<li class="list-inline-item"><i class="fab fa-slideshare mr-2"></i><a href="{{ talk.conference_link }}">{{ talk.conference }}</a></li>
								</ul>
							</div>
						</div><!--//card-->
					</div>
					{% endfor %}
					
				</div>
			</div><!--//container-->
		</section><!--//section-->

    <section class="section pt-5">
        <div class="container">

			{% for talk in site.data.talks.recent %}
	        <div class="media mb-5 flex-column flex-lg-row bg-white shadow-sm">
		        <div class="talk-media-holder embed-responsive embed-responsive-16by9 mr-md-3">
		            <iframe class="embed-responsive-item"  width="560" height="315" src="{{ talk.src }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		        </div>
		        
		        <div class="media-body p-4">
		        <h4>{{ talk.name }}</h4>
			        <ul class="talk-meta list-inline mb-2">
						<li class="list-inline-item mr-3"><i class="fab fa-{{ talk.type }} mr-2"></i>{{ talk.type | capitalize }}</li>
						<li class="list-inline-item"><i class="fab fa-slideshare mr-2"></i>{{ talk.conference }}</li>
			        </ul>
			        <div class="talk-content">
				        <p>
							{{ talk.abstract | mardownifiy }}
						</p>
			        </div>
		        </div>
			</div><!--//media-->   
			{% endfor %}

        </div><!--//container-->
    </section><!--//section-->
    
        
{% include footer.html %}