{% include header.html %}
		
        <div class="header-intro theme-bg-primary text-white py-5">
	        <div class="container position-relative">
		        <div class="media flex-column flex-md-row">
			        <img class="profile-medium d-inline-block rounded-circle mr-md-4 align-self-center mb-2 mb-lg-0" src="assets/images/{{ site.data.personal.image }}" alt="">
			        <div class="media-body align-self-center">
			            <h2 class="page-heading mb-2">Talks</h2>
			            <div class="page-heading-tagline mb-3">
							{{ site.data.talks.intro | newline_to_br | markdownifiy }}
						</div>
			        </div>
		        </div>
	        </div><!--//container-->
        </div><!--//header-intro-->

    </header><!--//header-->

    <section class="section pt-5">
        <div class="container">
	        
			{% for talk in site.data.talks.recent %}
	        <div class="media mb-5 flex-column flex-lg-row bg-white shadow-sm">
		        <div class="talk-media-holder embed-responsive embed-responsive-16by9 mr-md-3">
		            <iframe class="embed-responsive-item"  width="560" height="315" src="{{ talk.src }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		        </div>
		        
		        <div class="media-body p-4">
		        <h4>{{ talk.name }}</h4>
			        <ul class="talk-meta list-inline mb-2">
						<li class="list-inline-item mr-3"><i class="fab fa-{{ talk.type }} mr-2"></i>{{ talk.type | capitalize }}</li>
						<li class="list-inline-item"><i class="fab fa-slideshare mr-2"></i>{{ talk.conference }}</li>
			        </ul>
			        <div class="talk-content">
				        <p>
							{{ talk.abstract | mardownifiy }}
						</p>
			        </div>
		        </div>
			</div><!--//media-->   
			{% endfor %}

        </div><!--//container-->
    </section><!--//section-->
    
        
{% include footer.html %}