/* Instance */
.header-intro .bio a, .footer-slug a {
    color: #fff;
    text-decoration: underline;
}

.skills-icon-holder i {
    color: #fff;
}

.skills-icon-holder {
    padding-top: 1rem;
}

.header-intro-resume {
    height: 250px;
}

.social-list-color .xing {
    background-color: #009090;
}

.social-list-color .flickr {
    background-color: #576477;
}

.social-list-color .docker {
    background-color: #099cec;
}

.social-list-color .meetup {
    background-color: #f65858;
}


/* Pillar */
.projects-section .resume-timeline:before, .talks-section .resume-timeline:before {
    background: white;
}

.resume-company-name {
    white-space: nowrap;    
}

.footer, .footer a {
    color: #bbb;
}

