<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>{{ site.title }}</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Torsten Bøgh Köster Resume">
    <meta name="author" content="Torsten Bøgh Köster">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
       
    <!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="assets/css/pillar-1.css">
	<link id="additional-style" rel="stylesheet" href="assets/css/additional.css">


</head> 

<body>	

    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
			    <div class="media flex-column flex-md-row">
				    <img class="mr-3 img-fluid picture mx-auto" src="assets/images/{{ site.data.personal.image_name }}" alt="">
				    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					    <div class="primary-info">
						    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">{{ site.data.personal.name }}</h1>
						    <div class="title mb-3">{{ site.data.personal.title }}</div>
						    <ul class="list-unstyled">
							    <li class="mb-2"><a href="mailto:{{ site.data.personal.contact.email }}"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>{{ site.data.personal.contact.email }}</a></li>
								{% if site.data.personal.phone %}
							    <li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>0123 456 78900</a></li>
								{% endif %}
						    </ul>
					    </div><!--//primary-info-->
					    <div class="secondary-info ml-md-auto mt-2">
						    <ul class="resume-social list-unstyled">
								{% for social in site.data.personal.contact.social %}
				                <li class="mb-3"><a href="{{ social.link }}"><span class="fa-container text-center mr-2"><i class="fab fa-{{ social.icon }} fa-fw"></i></span>{{ social.name }}</a></li>
								{% endfor %}
						    </ul>
					    </div><!--//secondary-info-->
					    
				    </div><!--//media-body-->
			    </div><!--//media-->
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <div class="resume-section-content">
					    <p class="mb-0">{{ site.data.experience.intro }}</p>
				    </div>
			    </section><!--//summary-section-->
			    <div class="row">
				    <div class="col-lg-9">
						<section class="resume-section talks-section sexperience-section mb-5">
							<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Talks</h2>
						    <div class="resume-section-content">
								<div class="resume-timeline position-relative">
									{% for talk in site.data.talks %}
									<article class="resume-timeline-item position-relative pb-3">
										<div class="resume-timeline-item-header mb-2">
											<div class="d-flex flex-column flex-md-row">
												<h3 class="resume-position-title font-weight-bold mb-1"><a href="{{ talk.link }}">{{ talk.name }}</a></h3>
												<div class="resume-company-name ml-auto"><a href="{{ talk.conference_link }}">{{ talk.conference }}</a></div>
											</div><!--//row-->
											<div class="resume-position-time">{{ talk.date }}</div>
										</div><!--//resume-timeline-item-header-->
										{% if talk.abstract %}
										<div class="resume-timeline-item-desc">
											<p>{{ talk.abstract }}</p>
										</div><!--//resume-timeline-item-desc-->
										{% endif %}
									</article><!--//resume-timeline-item-->
									{% endfor %}
								</div>
						    </div>
						</section>
						

						{% if site.data.work %}
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">

									{% for work in site.data.work %}
								    <article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">{{ work.position }}</h3>
										        <div class="resume-company-name ml-auto">{{ work.company }}</div>
										    </div><!--//row-->
										    <div class="resume-position-time">{{ work.from }} - {{ work.to }}</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>{{ work.description }}</p>
											{% if work.projects %}
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Key projects:</h4>
										    <ul>
												{% for project in work.projects %}
											    <li>{{ project }}</li>
											    {% endfor %}
										    </ul>
											{% endif %}
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
										    <ul class="list-inline">
												{% for tech in work.technologies %}
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">{{ tech }}</span></li>
											    {% endfor %}
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
									{% endfor %}

							    </div><!--//resume-timeline-->
							    
						    </div>
					    </section><!--//experience-section-->
						{% endif %}
				    </div>
				    <div class="col-lg-3">
					    <section class="resume-section skills-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
						    <div class="resume-section-content">

								{% for category in site.data.skills.skills %}
						        <div class="resume-skill-item">
							        <h4 class="resume-skills-cat font-weight-bold">{{ category.name }}</h4>
							        <ul class="list-unstyled mb-4">
										{% for skill in category.skills %}
								        <li class="mb-2">
								            <div class="resume-skill-name">{{ skill.name }}</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: {{ skill.grade }}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										{% endfor %}
							        </ul>
						        </div><!--//resume-skill-item-->
								{% endfor %}
						        
						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Others</h4>
						            <ul class="list-inline">
										{% for item in site.data.skills.others %}
							            <li class="list-inline-item"><span class="badge badge-light">{{ item }}</span></li>
										{% endfor %}
						            </ul>
						        </div><!--//resume-skill-item-->
						    </div><!--resume-section-content-->
					    </section><!--//skills-section-->

					    <section class="resume-section reference-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Community</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-awards-list">
									{% for c in site.data.personal.community %}
								    <li class="mb-2 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-{{ c.icon }} position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name"><a href="{{ c.link }}">{{ c.name }}</a></div>
								        <div class="resume-award-desc">{{ c.description }}</div>
								    </li>
									{% endfor %}
							    </ul>
						    </div>
					    </section><!--//interests-section-->

						{% if site.data.personal.education %}
					    <section class="resume-section education-section mb-5">
							<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
							<div class="resume-section-content">
								<ul class="list-unstyled">
									{% for education in site.data.personal.education %}
									<li class="mb-2">
										<div class="resume-degree font-weight-bold">{{ education.grade }}</div>
										<div class="resume-degree-org">{{ education.location }}</div>
										<div class="resume-degree-time">{{ education.time }}</div>
									</li>
									{% endfor %}
								</ul>
							</div>
						</section><!--//education-section-->
						{% endif %}

						{% if site.data.personal.languages %}
					    <section class="resume-section language-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Languages</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-lang-list">
									{% for language in site.data.personal.languages %}
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">{{ language.name }}</span> <small class="text-muted font-weight-normal">({{ language.grade }})</small></li>
									{% endfor %}
							    </ul>
						    </div>
					    </section><!--//language-section-->
						{% endif %}

						{% if site.data.personal.interests %}
					    <section class="resume-section interests-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interests</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
									{% for interest in site.data.personal.interests %}
								    <li class="mb-1">{{ interest }}</li>
									{% endfor %}
							    </ul>
						    </div>
					    {% endif %}
					    
				    </div>
			    </div><!--//row-->
		    </div><!--//resume-body-->
		    
		    
	    </div>
    </article>  

    
    <footer class="footer text-center pt-2 pb-5">
	     <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
		<small class="copyright">
			Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers. <br />
			Built with <a href="https://github.com/envygeeks/jekyll-docker/blob/master/README.md">Jekyll</a> and hosted on <a href="https://github.com/tboeghk/tboeghk.github.io">GitHub</a>.
		</small>
    </footer>

    

</body>
</html> 

